 .subsc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* background-color: #fff; */
  }
  
  label {
    font-weight: bold;
  }
  
  /* input[type="date"],
  input[type="number"],
  input[type="text"], */
  select,.subsc {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  
  button[type="submit"] {
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
   